    

    <div id="feature" class="column span-15 colborder">
  		<% if !@posts.blank? %>		  
		    <%=render :partial=>'shared/post', :collection=>@posts %>	  
		<% else %>
		<% end %>
	    <h3><a href="">More >> </a></h3>
    </div>
    
    
    <div id="sidebar"  id="sidebar" class="column span-7">
        <div id="home_right" class="column">
            <div id="adzerk" class="column">
                <div id="adzerk_ad_div" class="column">
                    <script type="text/javascript" src="http://engine.theloungenet.com/Server/DOTNET/RCONERY/VERT"></script>
                </div>
                <p id="adzerk_by">
                    <a href='http://theloungenet.com'>Ads by The Lounge</a>
                </p>
            </div>
			<div class="column">			
 				<%=image_tag("mongo.png")%>
			</div>
            <div class="column" style="text-align:left">  		
               <%=image_tag("categories.png")%>
                <ul>
				  <% for cat in @categories %>
				    <li><%= link_to cat.name, :action => "index", :controller=>"post", :slug=>cat.slug %></li>
				  <% end %>
				</ul>
			</div>
		</div>
    </div>
    <hr/>
    <%@category=@subsonic%>
	<%=render "category_posts"%>

	<%@category=@storefront%>
	<%=render "category_posts"%>
	
	<%@category=@opinion%>
	<%@is_last=true%>
	<%=render "category_posts"%>
